### IntelliJ IDEA ###
.idea/                     # Ignore entire .idea directory
*.xml                      # Ignore all XML files
!.idea/uiDesigner.xml   # Ignore uiDesigner.xml
out/                       # Ignore out directory
!**/src/main/**/out/       # Except within src/main
!**/src/test/**/out/       # Except within src/test

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/                       # Ignore bin directory
!**/src/main/**/bin/       # Except within src/main
!**/src/test/**/bin/       # Except within src/test

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/                   # Ignore .vscode directory

### Mac OS ###
.DS_Store                  # Ignore MacOS-specific files
